<!DOCTYPE html>
<html>

<head>
    <title>Rohingya Rescue Route</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-shpfile@latest/dist/leaflet-shpfile.js"></script>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <script src="../static/scripts/index.js"></script>
    <style>
        .home-button {
            position: absolute;
            top: 20px;
            right: 20px; 
            padding: 10px 20px;
            background-color: #007BFF; 
            color: white;
            border: none;
            border-radius: 5px;
            font-family: 'Mona Sans', Helvetica, sans-serif;
            cursor: pointer;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <a href="/simulation" class="home-button">🧪 Simulation</a> 
    <div class="container">
        <div class="inputs-container">
            <div class="simulator">
                <h2>Simulator</h2>
                <form method="POST" action="/">
                    <div class="simulator-rainfall">
                        <label for="rainfall">Rainfall (mm/hour):</label>
                        <input type="range" id="rainfall" name="rainfall" min="0" max="250000" value="0" step="1000">
                        <span id="rainfall-value">0</span> mm/hour
                    </div>

                    <div class="toggle-container">
                        <label for="method-toggle">Model:</label>
                        <label class="switch">
                            <input type="checkbox" id="method-toggle" name="method_type" value="stochastic">
                            <span class="slider round"></span>
                            <span class="label off">Deterministic</span>
                            <span class="label on">Stochastic</span>
                        </label>
                    </div>

                    <div class="toggle-container">
                        <label for="algorithm-toggle">Algorithm:</label>
                        <label class="switch">
                            <input type="checkbox" id="algorithm-toggle" name="algorithm" value="heuristic">
                            <span class="slider round"></span>
                            <span class="label off">Dijkstra</span>
                            <span class="label on">Heuristic</span>
                        </label>
                    </div>

                    <div class="input-section">
                        <h2>Input</h2>
                        <p>e.g. 2222, 9773</p>
                        <div>
                            <label for="origin">Origin Node ID:</label>
                            <input type="number" name="origin" id="origin" required>
                        </div>
                        <div>
                            <label for="destination">Destination Node ID:</label>
                            <input type="number" name="destination" id="destination" required>
                        </div>
                        <div>
                            <label for="speed">Vehicle Speed (km/hr):</label>
                            <input type="number" name="speed" id="speed" required>
                        </div>
                        <button type="submit">Calculate Route</button>
                    </div>
                </form>
            </div>


        </div>

        <div class="right-container">
            <div class="map">
                <div id="map-container">
                    {% if map %}
                    {{ map | safe }}
                    {% endif %}
                </div>
            </div>

            <div class="results">
                <h2>Route Results 🗺️</h2> 
                {% if edges_data %}
                <div class="overview">
                    <div class="overview-left">
                        <p><span style="font-weight: bold; color: #007bff;">🌧️ Rainfall:</span><br> {{ rainfall }} mm </p>
                        <p><span style="font-weight: bold;color: #007bff;">🚗 Speed:</span><br> {{ speed }} km/hr </p>
                        <p><span style="font-weight: bold;color: #007bff;">🧠 Algorithm:</span><br> {{ algorithm|capitalize }} </p>
                        <p><span style="font-weight: bold;color: #007bff;">🧪 Method:</span><br> {{ method_type|capitalize }}</p>
                    </div>
                    <div class="overview-right">
                        <p><span style="font-weight: bold;color: #007bff;">🟢 Origin:</span><br> {{ origin }} </p>
                        <p><span style="font-weight: bold;color: #007bff;">🔴 Destination:</span><br> {{ destination }} </p>
                        <p><span style="font-weight: bold;color: #007bff;">⏱️ Total Time:</span><br> {{ total_time }} </p>
                        <p><span style="font-weight: bold;color: #007bff;">⏳ Execution Time:</span><br> {{ execution_time }} </p>
                    </div>
                </div>
            
                <details>
                    <summary>🛣️ <span style="font-weight: bold;color: #007bff;">Path</span></summary>
                    {{ path }}
                </details>
            
                <table>
                    <thead>
                        <tr>
                            <th>Edge</th>
                            <th>Length (m)</th>
                            <th>Time</th>
                            <th>Scenario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for edge_data in edges_data %}
                        <tr>
                            <td>{{ edge_data.edge }}</td>
                            <td>{{ edge_data.length }}</td>
                            <td>{{ edge_data.time }}</td>
                            <td>{{ edge_data.scenario }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {% if error %}
        <div id="errorModal" class="error-modal">
            <div class="modal-content">
                <span class="close-btn" onclick="closeModal()">&times;</span>
                <p class="error-message">{{ error }}</p>
            </div>
        </div>
        {% endif %}
    </div>

</body>

</html>